body {
    font-family: system-ui;
    color: WindowText;
    background-color: Window;
    margin: 0;
    position: fixed;
    overflow: hidden;
}

:root {
    color-scheme: light dark;
}

input[type=submit], button {
    -webkit-appearance: color-well;
}

.nav-button > button {
    height: 2.5em;
    width: 4em;
}

.sheets-button-line {
    text-align: left;
}


#query-form {
    text-align: center;
    position: relative;

}

#query-form * {
    vertical-align: middle;
}

#query-message {
    min-height: calc(1em + 2px);
    color: tomato;
    margin: 0 0.25em 0.25em 0.25em
}

#query {

    -webkit-appearance: searchfield;
}

.codeflask {
    height: 2em !important;
}

#query-form input[type=submit] {
    -webkit-appearance: button;
    padding-top: 4px;
    padding-bottom: 4px;
}

main {
    width: 100vw;
    height: calc(100vh - 90px - 1.75em);
    overflow: scroll;
}

#table {
    table-layout: auto;
    border-collapse: collapse;
    position: relative;
    min-width: 99.9%;
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}

#table input, table div {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 100%;
    border: none;
    word-break: break-word;
}

#table td * {
    min-width: 5em;
}

td {
    padding: 0.25em 0.5em;
    margin: 0;
    border: 1px solid rgb(210, 210, 210);
}

th {
    background-color: rgb(190, 192, 191);
}

th.col {
    position: sticky;
    top: 0;
}

th.row {
}

th.col div {
    resize: horizontal;
    display: block;
    overflow: auto;
}

th div {
    word-break: keep-all;
}

nav {
    margin-top: 0.15em;
    margin-left: 0.15em;
    margin-right: 0.15em
}

.nav-button {
    font-size: 75%;
    display: inline-block;
    text-align: center;
    padding: 0.25em
}

.nav-button * {
    padding: 0
}

.nav-button > button:nth-child(2) {
    margin-left: -7px
}

.nav-button input {
    -webkit-appearance: color-well;
    width: 44px;
    height: 27px;
    text-align: center;
}

#nav-right {
    float: right;
}


footer {
    position: fixed;
    bottom: 0;
    padding-right: 1em;
    text-align: right;
    width: 100vw;
}

#progress {
    vertical-align: middle;
}

#info {
    margin-right: 1em;
}

.tippy-box[data-theme~='ours'] {
    background: Window;
    color: WindowText;
    border: 0.5px solid rgb(185, 185, 185);
    border-radius: 8px;
    box-shadow: -8px 8px 35px 2px rgba(150, 150, 150, 1);
}

.tippy-box[data-theme~='ours'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: Window;
}

.close-button {
    width: 2em;
    height: 2em
}
